.config-content{
	padding: 20px;
}

.config-btn-box{
	text-align:right;
	padding: 10px 0 20px 0;
}

.config-name{
	float: left;
	width: 20%;
}

.config-type{
	float: left;
	width: 30%;
}

.config-weight{
	float: left;
	width: 10%;
}

.config-threshold{
	float: left;
	width: 30%;
}

.config-threshold em{
	font-size: 12px;
	color: #999;
	font-style: normal;
}

.config-content .inp{
	display: inline-block;
	width: 50px;
	margin: 0 5px;
}