.result-content{
	padding: 20px;
}

.checkout-type-box{
	padding-bottom: 20px;
}

.active-btn{
	background: #158CD1;
	color: #FFF;
	padding: 6px 20px;
	font-size: 12px;
}

.result-name{
	float: left;
	width: 10%;
}
.result-date{
	float: left;
	width: 15%;
}
.result-star{
	float: left;
	width: 15%;
}
.result-fraction{
	float: left;
	width: 5%;
}
.result-substance{
	float: left;
	width: 15%;
}
.result-type{
	float: left;
	width: 15%;
}
.result-operate{
	float: left;
	width: 20%;
}









