.setup-content{
	padding: 30px;
	width: 100%;
	height: 100%;
}

.title{
	border-bottom: 1px solid #E9E9E9;
	padding-bottom: 20px;
	font-weight: normal;
}

.title span{
	color: #F00;
}

.setup-form{
	width: 300px;
	padding: 20px 0;
}

.download-content p{
	line-height: 40px;
	color: #797979;
}

.download-content p a{
	color: #0080FF;
}

