.task-content{
	padding: 20px;
}

.task-name{
	float: left;
	width: 10%;
}
.task-substance{
	float: left;
	width: 15%;
}
.task-start-date{
	float: left;
	width: 15%;
}
.task-end-date{
	float: left;
	width: 15%;
}

.task-cycle{
	float: left;
	width: 10%;
}

.task-cycle-num{
	float: left;
	width: 10%;
}
.task-operate{
	float: left;
	width: 20%;
}

















